@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
}


.container{
    width: 1160px;
    margin: 0px  auto;
}
:root{
    --primary-color:  #111111;
    --secondary-color: #01ACFD;
    --paragraph-color: #808080;
    --accent-color: #FEA301;
    --white-color: #ffff;
    --blue-color: #05D4DF;
    --dark-blue: #5D58EF;
    --font-size: 2.875rem;

}

.color-gradient-one{
    background: linear-gradient(180deg, rgba(222,245,255,1) 0%, rgba(255,255,255,1) 40%);
}
.color-gradient-two{
    background: linear-gradient(180deg, rgba(255,244,220,1) 0%, rgba(255,255,255,1) 40%);
}
.color-gradient-three{
    background: linear-gradient(180deg, rgba(238,225,255,1) 0%, rgba(255,255,255,1) 40%);
}

.heading{
    text-align: center;
    font-size: var(--font-size);
    font-family: "Quicksand", serif;
    font-weight: 700;
    font-style: normal;
    line-height: 1.25em;
}

.menu li:nth-child(1) {
    color: var(--accent-color);
}

.menu li:nth-child(2) {
    color: var(--secondary-color);
}

.menu li:nth-child(3) {
    color: var(--blue-color);
}

.menu li:nth-child(4) {
    color: var(--dark-blue);
}
.orange{
    color: var(--accent-color);
}
.sky_blue{
    color: var(--secondary-color);
}

/* This is the section of header menu  */

.logo{
    display: flex;
    justify-content: start;
    align-items: center;
    align-content: center;
    gap: 11px;
}

.logo h1{
    font-family: "Quicksand", serif;
    font-weight: 700;
    font-style: normal;
    line-height: 30px;
    color: #111111;  

}
.header-menu{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

.header-menu ul li{
    display: inline;
    list-style: none;
    margin-right: 32px;
    cursor: pointer;
    
}
.btn{
    padding: 10px 60.5px;
    border-radius: 12px;
    border: none;
    background-color: orange;
    color: #ffff;
    font-size: 1.25rem;
    font-family: "Quicksand", serif;
    font-weight: 600;
    line-height: 30px;
    cursor: pointer;
}

.btn:hover{
    background-color: #111111;
    color: #ffff;
    transition: all 0.9s;
}

.header-menu i {
    display: none;
}

/* this is the section of hero  */

.hero{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 50px;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
}

.hero-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 24px;

}

.hero-image{
    width: 45.5%;
}

.hero-content h1{
    font-size: 3.5rem;
    font-family: "Quicksand", serif;
    font-weight: 700;
    font-style: normal;
    line-height: 1.089em;
}
 
.hero-content p{
    font-size: 1.25rem;
    font-family: "Quicksand", serif;
    font-weight: 400;
    font-style: normal;
    line-height: auto;
}

.btn-body{
    padding: 10px 47px;
    border: none;
    border-radius: 12px;
    font-size: 1.25rem;
    font-family: "Quicksand", serif;
    font-weight: 700;
    font-style: normal;
    background-color: var(--primary-color);
    color: var(--white-color);
}

.btn-body:hover{
    background-color: var(--accent-color);
    color: var(--white-color);
    transition: all 0.9s;
    cursor: pointer;
}

.curriculum{
    background-image:url(../image/bg.png) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0px;
    

}

.box_one h2{
    font-size: 1.5325rem;
    font-family: "Quicksand" serif;
    line-height: 1.25em;
    font-weight: 700;
    margin-top: 32px;
}

.box_one p{
    font-size: 0.993rem;
    font-family: "Quicksand" serif;
    line-height: 1.87em;
    font-weight: 500;
    color: #808080;
    text-align: center;
    margin: 33px 0px;
}
/* .box_one button{
    font-size: 0.993rem;
    font-family: "Quicksand" serif;
    line-height: 1.87em;
    font-weight: 700;
    color: var(--secondary-color);
    padding: 4px 0px;
    border: none;
    background-color: transparent;
    cursor: pointer;
} */

.box_one{
    width: 367px;
    border-radius: 18.86px;
    border: 0.94px solid #DEF5FF;
    padding: 54px 40px;

}

.image_box{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-between;
    gap: 28px;
    margin-top: 80px;
}

.image-button{
    font-size: 0.993rem;
    font-family: "Quicksand" serif;
    line-height: 1.87em;
    font-weight: 700;
    padding: 4px 0px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.image_box .box_one:nth-child(1) .image-button {
    color: var(--secondary-color);
}

.image_box .box_one:nth-child(2) .image-button {
    color: var(--accent-color);
}
.image_box .box_one:nth-child(3) .image-button {
    color: #8700FF;
}









/* This is breakpoint of mobile  */
@media screen and (max-width: 480px) {
  
   
    .header-menu{
        width: calc(100% - 32px);
        margin: 12px 20px;
        border-bottom: 1px solid var(--accent-color);
    }
    .hidden-item {
        display: none;
    }

    .logo h1{
        display: none;
    
    }

    .header-menu i {
        display: block;
        font-size: 30px;
    }

   
.hero{
    width: calc(100% - 32px);
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 20px;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 28px 20px;
    
}

    
    .hero-content{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 18px;

        }
        .hero-image{
            width: calc(100% - 32px);
            

        }
        .hero-image img{
            width: 100%;
            margin: auto;

        }
        .hero-content h1{
            font-size: 2rem;
            line-height: 1.3em;
            text-align: center;
            font-family: "Quicksand", serif;
            font-weight: 700;
            font-style: normal;
            
        }
        .hero-content p{
            width: 90%;
            font-size: 0.875rem;
            font-family: "Quicksand", serif;
            font-weight: 400;
            font-style: normal;
            line-height: 1.5em;
            text-align: center;
        }

        .btn-body{
            padding: 6px 24px;
            border: none;
            border-radius: 8px;
            font-size: 1rem;
            font-family: "Quicksand", serif;
            font-weight: 700;
            line-height: 2em; 
        }
          
    
  
}