@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
}


.container{
    width: 100%;
    max-width: 1160px;
    margin: 0px  auto;
}
:root{
    --primary-color:  #111111;
    --secondary-color: #01ACFD;
    --paragraph-color: #808080;
    --accent-color: #FEA301;
    --white-color: #ffff;
    --blue-color: #05D4DF;
    --dark-blue: #5D58EF;
    --purple-color: #8700FF;
    --font-size: 2.875rem;

}

.color-gradient-one{
    background: linear-gradient(180deg, rgba(222,245,255,1) 0%, rgba(255,255,255,1) 40%);
    border: 0.94px solid #DEF5FF;
}
.color-gradient-two{
    background: linear-gradient(180deg, rgba(255,244,220,1) 0%, rgba(255,255,255,1) 40%);
    border:0.94px solid #FFF4DC;
}
.color-gradient-three{
    background: linear-gradient(180deg, rgba(238,225,255,1) 0%, rgba(255,255,255,1) 40%);
    border: 0.94px solid #F2E8FF;
}

.heading{
    text-align: center;
    font-size: var(--font-size);
    font-family: "Quicksand", serif;
    font-weight: 700;
    font-style: normal;
    line-height: 1.25em;
}

.menu li:nth-child(1) {
    color: var(--accent-color);
}

.menu li:nth-child(2) {
    color: var(--secondary-color);
}

.menu li:nth-child(3) {
    color: var(--blue-color);
}

.menu li:nth-child(4) {
    color: var(--dark-blue);
}
.orange{
    color: var(--accent-color);
}
.sky_blue{
    color: var(--secondary-color);
}

/* This is the section of header menu  */

.logo{
    display: flex;
    justify-content: start;
    align-items: center;
    align-content: center;
    gap: 11px;
}

.logo h1{
    font-family: "Quicksand", serif;
    font-weight: 700;
    font-style: normal;
    line-height: 30px;
    color: #111111;  

}
.header-menu{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

.header-menu ul li{
    display: inline;
    list-style: none;
    margin-right: 32px;
    cursor: pointer;
    
}
.btn{
    padding: 10px 60.5px;
    border-radius: 12px;
    border: none;
    background-color: orange;
    color: #ffff;
    font-size: 1.25rem;
    font-family: "Quicksand", serif;
    font-weight: 600;
    line-height: 30px;
    cursor: pointer;
}

.btn:hover{
    background-color: #111111;
    color: #ffff;
    transition: all 0.9s;
}

.header-menu i {
    display: none;
}

/* this is the section of hero  */

.hero{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 50px;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
}

.hero-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 24px;

}

.hero-image{
    width: 45.5%;
}

.hero-content h1{
    font-size: 3.5rem;
    font-family: "Quicksand", serif;
    font-weight: 700;
    font-style: normal;
    line-height: 1.089em;
}
 
.hero-content p{
    font-size: 1.25rem;
    font-family: "Quicksand", serif;
    font-weight: 400;
    font-style: normal;
    line-height: auto;
}

.btn-body{
    padding: 10px 47px;
    border: none;
    border-radius: 12px;
    font-size: 1.25rem;
    font-family: "Quicksand", serif;
    font-weight: 700;
    background-color: var(--primary-color);
    color: var(--white-color);
    
}


.btn-body:hover{
    background-color: var(--accent-color);
    color: var(--white-color);
    transition: all 0.9s;
    cursor: pointer;
}

.curriculum{
    background-image:url(../image/bg.png) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0px;
    
    

}

.box_one h2{
    font-size: 1.5325rem;
    font-family: "Quicksand" serif;
    line-height: 1.25em;
    font-weight: 700;
    margin-top: 32px;
}

.box_one p{
    font-size: 0.993rem;
    font-family: "Quicksand" serif;
    line-height: 1.87em;
    font-weight: 500;
    color: #808080;
    text-align: center;
    margin: 33px 0px;
}

.box_one{
    width: 367px;
    border-radius: 18.86px;
    border: 0.94px solid #DEF5FF;
    padding: 54px 40px;

}

.image_box{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-between;
    gap: 28px;
    margin-top: 80px;
}

.image-button{
    font-size: 0.993rem;
    font-family: "Quicksand" serif;
    line-height: 1.87em;
    font-weight: 700;
    padding: 4px 0px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.image_box .box_one:nth-child(1) .image-button {
    color: var(--secondary-color);
}

.image_box .box_one:nth-child(2) .image-button {
    color: var(--accent-color);
}
.image_box .box_one:nth-child(3) .image-button {
    color: var(--purple-color);
}

.curriculum .arrow_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.curriculum .arrow_icon i{
    font-size: 15px;
    color: var(--white-color);
    background-color: var(--accent-color);
    padding: 17px 20px;
    border-radius: 50%;
    cursor: pointer;
    margin-top: 80px;
}

.story{
    background-image: url(../image/bg.png), linear-gradient(0deg, rgb(254 163 1 / 13%) 0%, rgba(255,255,255,1) 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    max-width: 100%;;
    
}

.grid-item{
    display: flex;
    gap: 18px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 1160px;
    /* margin: 80px auto; */
    padding-bottom: 80px;
    padding-top: 80px;
}
.grid-item-container01 {
    width: 47%;
}
.grid-item-container02 {
    width: 53%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 19px;
}

.item1 {
    position: relative;
    border-radius: 16px;
    overflow: hidden;
    background: #ffff;
    padding-bottom: 22px;
}

.item2{
    width: 48%;
    position: relative;
    border-radius: 16px;
    overflow: hidden;
    
}

.item3 {
    width: 48%;
    position: relative;
    border-radius: 16px;
    overflow: hidden;
}

.item4 {
    width: 48%;
    position: relative;
    border-radius: 16px;
    overflow: hidden;
}

.item5 {
    width: 48%;
    position: relative;
    border-radius: 16px;
    overflow: hidden;
}
.story-content {
    padding: 35px 38px 34px 38px;
    background-color: #FFFFFF;
    
}

.item1 .story-content .story-date {
    background: #3CD8E8;
    padding: 14px 18px;
    border-radius: 52px;
    border: none;
    color: #ffff;
    font-family: 'Quicksand';
    font-size: 15.34px;
    font-weight: 400;
    line-height: 1em;
    position: absolute;
    bottom: 275px;
}

.item1 .story-content h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 30.3px;
    font-family: 'Quicksand';
    margin-bottom: 47.93px;
}
.story-content p {
    font-size: 15.34px;
    font-family: raleway;
    line-height: 28.8px;
    font-weight: 400;
}


.item2 .story-content h3 {
    font-family: 'Quicksand';
    font-size: 15.34px;
    line-height: 24.8px;
    color: #000000;
}

.item3 .story-content h3 {
    font-family: 'Quicksand';
    font-size: 15.34px;
    line-height: 24.8px;
    color: #000000;
}
.item4 .story-content h3 {
    font-family: 'Quicksand';
    font-size: 15.34px;
    line-height: 24.8px;
    color: #000000;
}
.item5 .story-content h3 {
    font-family: 'Quicksand';
    font-size: 15.34px;
    line-height: 24.8px;
    color: #000000;
}



.item2 .story-date {
    background: #95B226!important;
    padding: 14px 18px;
    border-radius: 52px;
    border: none;
    color: #ffff;
    font-family: 'Quicksand';
    font-size: 15.34px;
    font-weight: 400;
    line-height: 1em;
    position: absolute;
    bottom: 100px;
}



.item3 .story-date {
    background: var(--dark-blue)!important;
    padding: 14px 18px;
    border-radius: 52px;
    border: none;
    color: #ffff;
    font-family: 'Quicksand';
    font-size: 15.34px;
    font-weight: 400;
    line-height: 1em;
    position: absolute;
    bottom: 100px;
}



.item4 .story-date {
    background: #95B226!important;
    padding: 14px 18px;
    border-radius: 52px;
    border: none;
    color: #ffff;
    font-family: 'Quicksand';
    font-size: 15.34px;
    font-weight: 400;
    line-height: 1em;
    position: absolute;
    bottom: 100px;
}

.item5 .story-date {
    background: #95B226!important;
    padding: 14px 18px;
    border-radius: 52px;
    border: none;
    color: #ffff;
    font-family: 'Quicksand';
    font-size: 15.34px;
    font-weight: 400;
    line-height: 1em;
    position: absolute;
    bottom: 100px;
}

.buttonmain {
    text-align: center;
    display: inline;
}

.all-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
}






/* This is breakpoint of mobile  */
@media screen and (max-width: 480px) {
  
   
    .header-menu{
        width: calc(100% - 32px);
        margin: 12px 20px;
        border-bottom: 1px solid var(--accent-color);
    }
    .hidden-item {
        display: none;
    }

    .logo h1{
        display: none;
    
    }

    .header-menu i {
        display: block;
        font-size: 30px;
    }

   
.hero{
    width: calc(100% - 32px);
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 20px;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 28px 20px;
    
}

    
    .hero-content{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 18px;

        }
        .hero-image{
            width: calc(100% - 32px);
            

        }
        .hero-image img{
            width: 100%;
            margin: auto;

        }
        .hero-content h1{
            font-size: 2rem;
            line-height: 1.3em;
            text-align: center;
            font-family: "Quicksand", serif;
            font-weight: 700;
            font-style: normal;
            
        }
        .hero-content p{
            width: 90%;
            font-size: 0.875rem;
            font-family: "Quicksand", serif;
            font-weight: 400;
            font-style: normal;
            line-height: 1.5em;
            text-align: center;
        }

        .btn-body{
            padding: 6px 24px;
            border: none;
            border-radius: 8px;
            font-size: 1rem;
            font-family: "Quicksand", serif;
            font-weight: 700;
            line-height: 2em; 
        }
        .box_one{
            width: 80%;

        }

        .image_box {
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-content: center;
            justify-content: center;
            align-items: center;
            gap: 12px;
            margin-top: 20px;
        }
          
        .curriculum{
            width: calc(100% - 32px);
            padding: 40px 0px;

           
        }
     
        .heading{
            text-align: center;
            font-size: 1.625rem;
            font-family: "Quicksand", serif;
            font-weight: 700;
            font-style: normal;
            line-height: 1em;
        }

        .box_one h2 {
            font-size: 1.0375rem;
            line-height: 1em;
            font-weight: 400px;
            font-family: 'Quicksand';
            margin-top: 22px;
        }
    
        .box-one p {
            font-size: 0.63875rem;
            font-family: "Quicksand" serif;
            line-height: 1.82em;
            font-weight: 500;
            color: #808080;
            text-align: center;
            margin: 22px 0px;
        }
        .image-button {
            font-size: 0.638rem;
            font-family: 'Quicksand';
            line-height: 1em;
        }
        .curriculum .arrow_icon{
            display: none;
        }

        .grid-item-container01 {
            display: none;
        }
        .grid-item-container02 {
            width: 100%;
        }
        .grid-item {
            width: calc(100% - 20px);
            margin: 40px auto;
        }
        .story-content {
            padding: 26px 5px 34px 22px;
        }

        .item2 .story-date {
            background: #95B226!important;
            padding: 10px 12px;
            border-radius: 28px;
            font-size: 10px;
            font-weight: 400;
            line-height: 1em;
            position: absolute;
            /* bottom: 100px; */
        }

        .item3 .story-date {
            background: var(--dark-blue)!important;
            padding: 10px 12px;
            border-radius: 28px;
            font-size: 10px;
            font-weight: 400;
            line-height: 1em;
            position: absolute;
            /* bottom: 100px; */
        }

        .item4 .story-date {
            background: var(--dark-blue)!important;
            padding: 10px 12px;
            border-radius: 28px;
            font-size: 10px;
            font-weight: 400;
            line-height: 1em;
            position: absolute;
            /* bottom: 100px; */
        }

        .item5 .story-date {
            background: var(--dark-blue)!important;
            padding: 10px 12px;
            border-radius: 28px;
            font-size: 10px;
            font-weight: 400;
            line-height: 1em;
            position: absolute;
            /* bottom: 100px; */
        }
        .grid-item-container02{
            gap: 10px;
        }
        .story-content h3{
            font-size: 9.13px;
        }


        .all-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 20px;
        }
}
        